{% extends 'base.html' %}
<!-- {% load crispy_forms_tags %} -->
{% load static %}
{% block content %}

<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static '/images/amaraba2.jpg' %}" class="d-block w-100" alt="..." style="height:35rem;">
      </div>
      <div class="carousel-item">
        <img src="{% static '/images/gushya.jpg' %}" class="d-block w-100" alt="..." style="height:35rem;">
      </div>
      <div class="carousel-item">
        <img src="{% static '/images/intore1.jpg' %}" class="d-block w-100" alt="..." style="height:35rem;">
      </div>
      <div class="carousel-item">
        <img src="{% static '/images/inyambo.jpg' %}" class="d-block w-100" alt="..." style="height:35rem;">
      </div>
      <div class="carousel-item">
        <img src="{% static '/images/isekuru.jpg' %}" class="d-block w-100" alt="..." style="height:35rem;">
      </div>
      <div class="carousel-item">
        <img src="{% static '/images/urusyo.jpg' %}" class="d-block w-100" alt="..." style="height:35rem;">
      </div>
      <div class="carousel-item">
        <img src="{% static '/images/palace.jpg' %}" class="d-block w-100" alt="..." style="height:35rem;">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

{% endblock %}